/* Avatar.css */

.componente-usuario {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    margin: 24px;
    padding: 24px;
}

.avatar-container {
    display: flex;
    align-items: center; /* Center vertically */
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 16px; /* Add some space between the image and text */
}

.nombre-correo {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center text horizontally */
    text-align: center; /* Center text vertically */
}

.nombre {
    margin-bottom: 8px; /* Add some space between name and email */
}

.correo {
    color: #666;
}
